@import helper._
@import models.Tables.PostRow
@(siteUrl: String, siteTitle: String, siteId: Int, commentList: Seq[PostRow], page: Int, postForm: Form[String])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>@siteUrl</h2>
        <h2>@siteTitle</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2></h2>
        <ul>
        @for((comment, index) <- commentList.zipWithIndex) {
            <span><strong>@index</strong></span>
            <li>@comment.comment</li>
            <li>投稿日時: @comment.created</li>
        }
        </ul>
        @if(page != 1) {
            <a href="/post/@siteUrl/page/@(page - 1)">prev</a>
        }
        <a href="/post/@siteUrl/page/@(page + 1)">next</a>
        @helper.form(action = routes.PostController.messagePost(siteUrl)) {
            @inputText(postForm("postMessage"))
            <input type="hidden" name="url" value="@siteUrl">
            <input type="hidden" name="siteId" value="@siteId">
            <input type="submit" value="送信">
            }
    </body>
</html>