@import helper._
@import models.Tables.PostRow
@(siteUrl: String, posts: Seq[PostRow], postForm: Form[String])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>@siteUrl</h2>
        <ul>
            @for(post <- posts) {
                <li>id: @post.userid</li>
                <li>postMessage: @post.postmessage</li>
                <li>postMessage: @post.created</li>
            }
            @helper.form(action = routes.Application.post(siteUrl)) {
                @inputText(postForm("postMessage"))
                <input type="hidden" name="url" value="@siteUrl">
                <input type="submit" value="送信">
                }
        </ul>
    </body>
</html>