@import helper._
@import models.Tables.PostRow
@(siteUrl: String, siteTitle: String, siteId: Int, posts: Seq[PostRow], latelyPosts: Seq[LatelyPost], postForm: Form[String])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2><a href="@siteUrl">@siteUrl</a></h2>
        <h2>@siteTitle</h2>
        <ul>
            @for(post <- posts) {
                <li>id: @post.userid</li>
                <li>postMessage: @post.comment</li>
                <li>postMessage: @post.created</li>
            }
            @helper.form(action = routes.PostController.messagePost(siteUrl)) {
                @inputText(postForm("postMessage"))
                <input type="hidden" name="url" value="@siteUrl">
                <input type="hidden" name="siteId" value="@siteId">
                <input type="submit" value="送信">
                }
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2></h2>
        <ul>
        @for(latelyPost <- latelyPosts) {
            <a href="/@latelyPost.siteUrl">@latelyPost.siteTitle</a>
            <li>postMessage: @latelyPost.comment</li>
        }
        </ul>
    </body>
</html>